/.phpunit.cache
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/storage/logs/laravel-deploy.log
/storage/logs/npm-deploy.log
/storage/logs/git-deploy.log
/storage/pail
/vendor
.env.db
.env.backup
.env.production
.phpactor.json
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/auth.json
/.fleet
/.idea
/.nova
/.vscode
/.zed
.editorconfig
.env.example
*storybook.log
storybook-static
